.dashboard {
  max-width: 100vw;
  height: auto;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto 1fr;
  background-color: var(--primary-color);

  &-container {
    display: grid;
    min-height: 600px;
    height: calc(100vh - 130px);
    padding: 80px 20px 5px 40px;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(13, 1fr);
  }
}

.usercard {
  grid-column: 1/5;
  grid-row: 1/6;
  background-color: #ffffff08;
  box-shadow: 0 3px 10px #33375030;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 70px;
  overflow: hidden;
  padding: 20px;
  max-width: 700px;

  &-details {
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
  }

  &-profile {
    grid-row: span 12;
    grid-column: 1/4;
    border-radius: 100%;
    background-color: #00000020;
    background-blend-mode: lighten;
    background-image: url(https://raw.githubusercontent.com/Solarin-Johnson/Solarin-Johnson.github.io/main/screenshots/my_vector_low_quality.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 120%;
    max-width: 150px;
    align-self: center;
  }
  &-top {
    grid-row: 1/8;
    grid-column: 4/10;
    // height: 100%;
    margin-left: 30px;
    font-size: 28px;
    color: var(--secondary-color);
    font-weight: 700;
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: start;
    column-gap: 15px;
    align-items: center;
    align-content: center;
    span {
      color: var(--secondary-color);
      opacity: 0.7;
      font-size: 18px;
      cursor: pointer;
      transition: 0.2s ease;

      &:hover {
        opacity: 1;
      }
    }
  }
  &-progress {
    background-color: #7f789430;
    grid-column: 4/10;
    grid-row: 8/13;
    height: 35px;
    border-radius: 100rem;
    margin-left: 30px;
    margin-right: -10px;
    align-self: start;
    text-align: center;
    overflow: hidden;
    position: relative;
    display: grid;
    span {
      position: absolute;
      align-self: center;
      justify-self: center;
      color: var(--secondary-color);
      font-size: 16px;
      font-weight: 600;
    }
    .progress {
      transition: 0.5s ease;
      background-color: #8761e6c8;
      height: 100%;
    }
  }
  &-game {
    grid-row: span 12;
    grid-column: 10/13;
    margin-left: 20px;
    display: grid;
    row-gap: 18px;
    align-content: center;
    // justify-content: center;
  }
  &-points,
  &-streak {
    justify-self: end;
    width: 100%;
    background-color: #8f8f8f35;
    padding: 6px 4px;
    height: 25px;
    max-width: 60px;
    border-radius: 10rem;
    overflow: hidden;
    display: grid;
    grid-template-columns: auto 1fr;
    justify-items: start;
    justify-content: start;
    align-content: center;
    user-select: none;

    span {
      display: grid;
      align-items: center;
      align-content: center;
      color: var(--text-color);
      text-align: left;
      font-weight: 600;
      // width: 100%;
      font-size: 18px;
      margin-left: 5px;
      justify-self: center;
      padding-right: 5px;
    }

    i {
      display: grid;
      text-align: center;
      align-items: center;
      align-content: center;
      justify-content: center;
      padding: 7px;
      font-size: 14px;
      border-radius: 10rem;
      justify-self: start;
    }
  }
  &-points {
    i {
      color: #aa8dfc;
      background-color: #343054;
    }
  }
  &-streak {
    i {
      background-color: #a15b2c;
      color: #ffbd41;
      width: 15.75px;
    }
  }
  &-tabs {
    align-self: last baseline;
    padding-top: 15px;
    // margin-top: 12px;
    border-top: 2px solid #87878731;
    display: grid;
    grid-template-columns: auto 1fr auto;
    justify-items: center;
    color: var(--text-color);
    align-items: center;
    align-content: center;
    font-weight: 600;
    user-select: none;
    column-gap: 10px;

    &-title {
      align-self: center;
    }

    &-filter {
      display: grid;
      grid-template-columns: repeat(2, auto);
      justify-content: space-evenly;
      max-width: 300px;
      column-gap: 15px;
      width: 100%;

      div {
        overflow: hidden;
        cursor: pointer;
        display: grid;
        grid-template-columns: repeat(2, auto);
      }

      div :last-child {
        align-self: center;
        height: 85%;
        display: grid;
        align-content: center;
        margin-left: 10px;
        padding: 0 8px;
        border-radius: 10rem;
        background-color: #3b405b;
        color: #fff;
      }
    }

    &-new {
      margin-right: -3px;
      margin-left: 5px;
      background-color: #8471cf30;
      padding: 5px 5px 5px 10px;
      border-radius: 10rem;
      display: grid;
      grid-template-columns: repeat(2, auto);
      align-items: center;
      justify-items: center;
      text-align: center;
      cursor: pointer;
      color: var(--text-color);

      :last-child {
        margin-left: 10px;
        padding: 5px 6px;
        border: 2px solid #63636399;
        border-radius: 50%;
        justify-content: center;
      }

      :first-child {
        // background-color: #fff;
        // justify-self: center;
        padding-left: 5px;
      }

      &:hover {
        background-color: #8761e6;
        color: #fff;
      }
    }
  }
}

.table {
  display: grid;
  grid-template-rows: auto 1fr;
  align-items: start;
  padding-bottom: 50px;

  &-wrapper {
    grid-row: 6/14;
    grid-column: span 12;
    margin-top: 20px;
    border-radius: 10px;
    color: var(--text-color);
    padding: 10px 0;
    display: grid;
    align-content: start;
    row-gap: 10px;
  }
  &-header {
    font-weight: 600;
    display: grid;
    grid-template-columns: repeat(2, auto);
    padding-bottom: 20px;
    .table-date {
      justify-self: end;
    }
  }
  &-title {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: start;
    align-items: center;
    column-gap: 10px;
    font-weight: 700;

    :last-child {
      background-color: #3b405b;
      color: #fff;
      width: 30px;
      font-size: 12px;
      font-weight: 600;
      border-radius: 10rem;
      padding: 2.5px 0;
      text-align: center;
    }
  }
  &-date {
    font-weight: 700;
    :last-child {
      font-weight: 500;
      font-size: 15px;
      padding-left: 10px;
      color: var(--text-color);
    }
  }
  &-container {
    display: grid;
    align-content: start;
    row-gap: 20px;
  }
}

@media screen and (max-width: 600px) {
  .dashboard {
    &-container {
      padding: 70px 10px 5px 10px;
    }
    .usercard {
      grid-template-rows: 1fr 80px;
    }
  }

  .usercard {
    grid-column: 1/8;
    grid-row: 1/5;
    padding: 10px;
    &-game {
      row-gap: 5px;
    }
    &-top {
      font-size: 24px;
      margin-top: 25px;
      margin-left: 20px;
      span {
        display: none;
      }
    }
    &-progress {
      height: 30px;
      margin-right: 5px;
      margin-left: 20px;
      margin-top: -7px;

      span {
        font-size: 12px;
      }
    }
    &-points,
    &-streak {
      transform: scale(0.92);
      :hover {
        width: 100%;
      }
      span {
        padding: 0 10px 0 2px;
        text-align: left;
      }
    }
    &-tabs {
      grid-template-columns: 1fr auto;
      justify-items: start;
      grid-template-rows: 1fr;
      height: 70%;
      justify-content: space-between;

      &-title {
        display: none;
      }
      &-filter {
        font-size: 14px;
      }
    }
  }
}

.active-filter {
  color: #a07bff !important;

  :last-child {
    font-weight: 600;
  }
}

@media screen and (max-width: 1240px) {
  .dashboard {
    // padding: 70px 20px 20px 20px;
  }
}

@media screen and (max-width: 920px) {
  .dashboard {
    &-container {
    }
  }
  .usercard {
    grid-column: 1/9;
    grid-row: 1/6;
  }
  .table-container {
    grid-row: 6/14;
  }
  .newtask {
    display: none !important;
  }
}
