.newtask {
  max-width: 350px;
  width: calc(100% - 60px);
  justify-self: end;
  grid-row: 1/6;
  grid-column: 5/8;
  background-color: #333750;
  margin-left: 20px;
  border-radius: 10px;
  padding: 20px;
  color: #ffffff80;
  display: grid;
  grid-template-rows: auto 1fr auto auto;
  grid-template-columns: 1fr;
  row-gap: 10px;
  align-content: start;
  &-head {
    font-weight: 600;
    color: #fff;
    display: grid;
    grid-template-columns: repeat(2, auto);

    :last-child {
      justify-self: end;
    }
    i {
      margin-left: 15px;
    }
  }

  &-task {
    margin-top: 10px;
  }

  textarea {
    display: grid;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    line-height: 1.25;
    overflow: hidden;
    resize: none;
    background-color: #3b405b;
    border: none;
    border-radius: 10px;
    font-family: "Nunito", sans-serif;
    padding: 10px;
    color: #ffffffba;
    outline: none;
    font-size: 16px;
    font-weight: 600;

    &::placeholder {
      color: #ffffff99;
    }
  }

  span {
    height: 0;
    margin-bottom: 10px;
  }

  &-submit {
    border-radius: 5px;
    margin-top: 10px;
    background-color: #8761e6;
    color: #fff;
    font-weight: 600;
    display: grid;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    height: 45px;
  }
}
