// DASHBOARD HEAD
.dashboardMenuContainer {
  width: 50px;
  position: relative;
  display: grid;
  height: auto;
  height: calc(100vh);
}

.dashboardHead {
  left: 0;
  top: 0;
  position: fixed;
  height: 60px;
  width: calc(100vw - 90px);
  z-index: 10;
  padding: 0 20px;
  padding-left: 90px;
  padding-top: 3px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 40px;
  font-size: 24px;
  color: var(--text-color);
  font-weight: 600;
  overflow: hidden;
  background-color: var(--primary-color);

  .top-header {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-items: end;
    justify-self: end !important;
    width: auto;
    align-content: center;
    align-items: center;
    padding-right: 20px;
    column-gap: 40px;
    font-size: 20px;
    color: var(--text-color);

    .search {
      display: grid;
      grid-template-columns: repeat(2, auto);
      align-content: center;
      align-items: center;
      column-gap: 20px;
      overflow: hidden;
      width: 30px;
      justify-content: end;
      transition: 0.3s ease;

      &:hover,
      &:focus {
        width: 100%;
      }

      i {
        cursor: pointer;
      }

      input {
        height: 40px;
        border-radius: 10rem;
        width: calc(35vw - 20px);
        max-width: 400px;
        border: none;
        background-color: transparent;
        padding: 0 10px;
        font-size: 16px;
        color: var(--text-color);
        outline: none;
        border: 2px solid transparent;

        &:focus {
          border-color: var(--text-color);
        }
      }
    }
    .notification {
      cursor: pointer;
      position: relative;
      display: grid;

      .notification-number {
        width: 15px;
        height: 15px;
        position: absolute;
        background: #8761e6;
        color: #fff;
        font-weight: 800;
        border-radius: 50%;
        font-size: 9px;
        display: grid;
        align-content: center;
        justify-content: center;
        top: -5px;
        right: -5px;
      }
    }
  }
}

.headMenuBar {
  justify-self: start;
  display: grid;
  align-self: center;
  justify-content: center;
  width: 30px;
  font-size: 25px;
  cursor: pointer;
  color: var(--text-color);
}

.mainMenu span {
  font-size: 22px !important;
}

.dashboardMenu {
  overflow-y: hidden;
  position: fixed;
  width: 50px;
  height: calc(100vh - 0px);
  top: 0;
  left: 0;
  transition: 0.2s ease-in all;
  overflow-x: hidden;
  padding: 0px 10px 0px;
  display: grid;
  justify-content: start;
  grid-template-columns: 1fr;
  row-gap: 10px;
  grid-template-rows: 50px auto auto;
  box-shadow: 1.5px 0 0px #7d7d7d23;
  z-index: 90;
  background-color: var(--primary-color);

  .logo {
    padding-top: 20px;

    display: grid;
    align-content: center;
    justify-content: start;
    padding-left: 2px;

    i {
      background-color: #473d74ef;
      padding: 12px;
      border-radius: 50%;
      justify-self: start;
      color: #cfc0ff;
    }
  }
}

.systemMenu {
  height: auto;
  justify-self: start;
  width: 100%;
  align-self: last baseline;
  padding: 30px 0;
  align-content: center;
  align-items: center;
  display: grid;
  grid-template-rows: repeat(1, 55px);
  grid-template-columns: 100%;
  row-gap: 20px;

  a {
    width: 95%;
    justify-self: start;
    text-decoration: none;
    color: var(--text-color);
    align-items: center !important;
    display: grid !important;
    height: 100% !important;
  }
}

#spread {
  width: 250px;
  overflow-y: auto;
  .mainMenuItems:hover {
    background-color: #00000040;
  }
  .activeMenu {
    background-color: #2a2d42;
  }
  .activeMenu:hover {
    // background-color: #dbf2ee;
  }

  .mainMenuItemsIcon {
    background-color: transparent;
  }
  .systemMenu {
    border-top: 1px solid #7b7b7b;
  }
}

.mainMenuItemsIcon.activeMenu {
  // background-color: #dbf2ee !important;
}

.mainMenuItemsIcon {
  background-color: transparent;
  border-radius: 100%;
  padding: 10px;
  margin-left: -10px;
  overflow: hidden;
  text-align: center;
  width: 22px;
}
.mainMenuItemsIcon:hover {
  background-color: #40326b;
}

.mainMenuItems {
  white-space: nowrap;
}

.mainMenu {
  padding-top: 30px;
  display: grid;
  grid-template-rows: repeat(5, 60px);
  row-gap: 20px;
  min-height: 250px;

  a {
    justify-self: start;
    width: 95%;
    color: var(--text-color);
    text-decoration: none;
    transition: 0.5s ease all;
  }
}

.systemMenu {
  align-items: center;
}

.mainMenuItems {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: start;
  padding-left: 12px;
  align-items: center;
  align-content: center;
  column-gap: 20px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

.mainMenuItemsIcon {
  display: grid;
  align-items: center;
}

.dashboardMenu::-webkit-scrollbar {
  width: 5px;
}

.dashboardMenu::-webkit-scrollbar-thumb {
  width: 6px;
  border-radius: 100rem;
  background-color: #ffffff68;
}

a {
  text-decoration: none !important;
  transition: 0.5s ease all;
}

@media screen and (min-width: 1240px) {
  #spreadParent {
    width: 250px;
  }
  .dashboardHead {
    padding-top: 10px;
    height: 50px;
    grid-template-columns: auto;
  }
}

@media screen and (max-width: 600px) {
  .dashboardMenuContainer {
    width: 0;
  }
  .dashboardMenu {
    transform: translate(-100px);
  }
  #spread {
    max-width: 250px;
    transform: translateX(0);
  }
  .dashboardHead {
    padding-left: 10px;
    // z-index: 0;
    width: calc(100vw - 10px);
  }
  .search {
    input {
      width: calc(43vw - 20px) !important;
    }
  }
}

@media screen and (max-width: 350px) {
  #spread {
    width: 80vw;
  }
}

@media screen and (min-width: 600px) {
  .search {
    width: 100% !important;
  }
}
