.table-items {
  height: 100%;
  display: grid;
  background-color: #ffffff09;
  grid-template-columns: auto 4fr auto auto auto auto;
  justify-items: center;
  column-gap: 40px;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 0 50px;
  font-size: 15px;
  font-weight: 600;
  scroll-snap-align: start;
  &-container {
    text-transform: capitalize;
    height: 55px;
    box-shadow: 0 0 10px #33375025;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3, 100%);
    align-items: center;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
      display: none;
    }
    .swiped-left {
      background-color: #2a6b43 !important;
    }
    .swiped-right {
      background-color: #7a3f4e !important;
    }

    .swipe-left,
    .swipe-right {
      transition: 0.3s ease;
      background-color: var(--text-color);
      font-size: 18px;
      height: 100%;
      display: grid;
      align-items: center;
      justify-items: start;

      span {
        padding: 0 10px;
        position: sticky;
        left: 20px;
        right: 20px;
      }
    }
    .swipe-right {
      font-size: 16px;
      display: grid;
      justify-items: end;
      span {
        padding-left: 10px;
      }
    }
  }
  &-check {
    font-size: 24px;
    align-self: center;
    justify-self: start;
    color: var(--text-color);
    cursor: pointer;
  }
  &-name {
    overflow-x: auto;
    white-space: nowrap;
    font-size: 16px;
    transition: 0.5s ease;
    text-align-last: left;
    max-width: 500px;
    min-width: 100%;
    justify-self: start;
  }
  &-priority,
  &-time {
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 10px;
    width: 100%;
    justify-content: start;
    align-content: center;
    align-items: center;
    color: var(--text-color);
    transition: 0.5s ease;
  }
  &-priority {
    color: #8761e6;
  }

  &-status {
    background-color: #a68fe034;
    color: var(--progress-color);
    padding: 6px 15px;
    border-radius: 10rem;
    font-weight: 600;
    text-align: center;
  }
  &-delete {
    cursor: pointer;
  }
}

.table-items.null {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  height: 55px;
  box-shadow: 0 0 10px #33375025;
  border-radius: 10px;
}

@keyframes slide {
  from {
    transform: translateY(40px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.table-items-container.in-viewport {
  animation: slide 0.6s forwards;
  transform: translateY(0);
  opacity: 0;
}

.null.in-viewport {
  animation: slide 0.6s forwards;
  transform: translateY(0);
  opacity: 0;
}

.table-items-container.slide-away {
  grid-template-columns: 100% 0 100%;

  .swipe-left {
    transition: none;
    opacity: 0;
  }
}

@media screen and (max-width: 920px) {
  .table-items {
    padding: 0 20px;
    grid-template-columns: auto 1fr auto auto auto;
    &-name {
      max-width: none;
      width: 100%;
      overflow-x: auto;
      text-overflow: clip;
    }
    &-priority,
    &-time {
      grid-template-columns: repeat(2, auto);
      min-width: 0px;
      width: 100%;
      :first-child {
        display: none;
      }
    }
    &-priority {
      justify-self: start;
    }
    &-status {
      display: none;
    }
  }
}

#complete {
  background-color: #00ff0030;
  color: var(--complete-color);
}

#checked {
  color: #00c400;
}

#high_prior {
  color: #d59f12;
}

@media screen and (max-width: 600px) {
  .table-items {
    padding: 0 20px;
    column-gap: 20px;

    &-name {
      width: 100%;
      overflow-x: auto;
      text-overflow: clip;
    }
    &-priority,
    &-time {
      user-select: none;
      grid-template-columns: repeat(2, auto);
      justify-items: center;
      overflow: hidden;
      width: 20px;
      white-space: nowrap;
      column-gap: 8px;

      &:hover {
        width: 70px;
      }
    }
    &-status {
      color: transparent;
      width: 0px;
      padding: 8px;
      overflow: hidden;
    }
  }
}

.table-items-name::-webkit-scrollbar {
  background-color: transparent;
  border-radius: 10px;
  height: 5px;
}
