body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-color);
  padding: 0;
  /* background-color: #2B2E43; */
}

#root {
  height: auto;
  display: grid;
}