.search-task {
  &-container {
    position: fixed;
    width: calc(80vw - 30px);
    max-width: 400px;
    height: auto;
    backdrop-filter: blur(20px);
    background-color: #ffffff05;
    border-radius: 5px;
    max-height: 350px;
    top: 60px;
    right: 9vw;
    z-index: 90;
    padding: 20px 15px 30px 15px;
    overflow-y: scroll;
    box-shadow: 0 5px 10px #00000044;
  }
  &-head {
    color: var(--text-color);
    font-weight: 600;
    font-size: 18px;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 10px;
    justify-content: start;
    :last-child {
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: var(--secondary-color);

      &::before {
        content: "'";
        padding-right: 3px;
      }
      &::after {
        content: "'";
        padding-left: 3px;
      }
    }
  }
  &-result {
    height: auto;
    padding-top: 20px;
    display: grid;
    align-content: start;
    row-gap: 15px;
    color: var(--text-color);

    .results-null {
      display: grid;
      grid-template-columns: 1fr !important;
      color: var(--text-color);
    }
    .table-items {
      padding: 0 20px;
      grid-template-columns: auto 1fr auto auto auto;
      background-color: var(--primary-color);
      &-delete {
        display: none;
      }
      &-status {
        display: none;
      }
      &-check {
        visibility: hidden;
        width: 0;
      }
      &-name {
        margin-left: -20px;
      }
      &-time {
        margin-right: -20px;
      }
      &-priority,
      &-time {
        grid-template-columns: repeat(2, auto);
        min-width: 0px;

        :first-child {
          display: none;
        }
      }
    }
  }
}

@media screen and (min-width: 600px) {
  .search-task {
    &-container {
      right: 9vw;
    }
  }
}
